.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 8px;
  min-width: 240px;
  flex-grow: 1;
  background-color: #FFFFFF; 
  color: #FF0000;

}

.card img {
  width: 340px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 15px;
  font-size: 18px;
}
